<ion-header>
  <ion-toolbar>
    <ion-title>Eliminar Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecciona un entrenamiento para eliminar</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Entrenamiento</ion-label>
        <ion-select [(ngModel)]="entrenamientoId" placeholder="Seleccionar entrenamiento">
          <ion-select-option *ngFor="let entrenamiento of entrenamientos" [value]="entrenamiento.id">
            {{ entrenamiento.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="eliminarEntrenamiento()">
    Eliminar entrenamiento
  </ion-button>
</ion-content>
