<ion-header class="ion-text-center" [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/img/logo.png" alt="gym"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ion-card class="ion-text-center card-custom">
    <ion-card-header>
      <ion-card-title>Ingresa tu nombre de usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="reestcontra.usuario" placeholder="Usuario"></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-button expand="block" shape="round" fill="outline" class="reest-button" (click)="reestablecer(reestcontra)">Reestablecer</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
