<ion-header>
  <ion-toolbar>
    <ion-title>Editar Entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecciona un entrenamiento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]="entrenamientoId" placeholder="Seleccionar entrenamiento">
          <ion-select-option *ngFor="let entrenamiento of entrenamientos" [value]="entrenamiento.id">
            {{ entrenamiento.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="cargarDatos()">
        Cargar datos
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-input labelPlacement="stacked" label="Nombre" [(ngModel)]="entrenamientoNuevo.nombre"></ion-input>
    <ion-input labelPlacement="stacked" label="Descripción" [(ngModel)]="entrenamientoNuevo.descripcion"></ion-input>
  </ion-card>

  <ion-button expand="block" (click)="editarEntrenamiento()">
    Guardar
  </ion-button>
</ion-content>
