<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Entrenador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="agregarEntrenador()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre del entrenador</ion-label>
        <ion-input [(ngModel)]="nuevoEntrenador.nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Especialidad</ion-label>
        <ion-input [(ngModel)]="nuevoEntrenador.especialidad" name="especialidad" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Agregar</ion-button>
    </ion-list>
  </form>
</ion-content>
