.header-custom {
    background-color: #000;
  }
  
  .toolbar-custom ion-title {
    color: #FF6F00;
  }
  
  .content-custom {
    background-color: #000;
    color: #FF6F00;
  }
  
  .welcome-text {
    color: #FF6F00;
  }
  
  .card-custom {
    background-color: #000;
    color: #FF6F00;
    border: 1px solid #FF6F00;
  }
  
  .card-custom ion-card-title {
    color: #FF6F00;
  }
  
  .input-item {
    --background: #000;
    --color: #FF6F00;
    --placeholder-color: #FF6F00;
  }
  
  .login-button {
    --background: #000;
    --color: #FF6F00;
    --border-color: #FF6F00;
    --border-radius: 20px;
    margin-top: 20px;
  }
  
  .login-button:hover {
    --background: #FF6F00;
    --color: #000;
  }
  