ion-img {
    width: 70px;
    height: 70px;
    margin: auto;
}

ion-content {
  --background: #000000;
  color: #FF6F00;
}

ion-card {
  background-color: #1a1a1a;
  color: #FF6F00;
}

ion-card-title,
ion-label{
  color: #FF6F00;
}

h1 {
  color: #FF6F00;
}

.header-custom {
  background-color: #000000;
}

.toolbar-custom ion-title {
  color: #FF6F00;
  background-color: #000000;
}

.content-custom {
  background-color: #000;
  color: #FF6F00;
}

.card-custom {
  background-color: #000;
  color: #FF6F00;
  border: 1px solid #FF6F00;
}

.card-custom ion-card-title {
  color: #FF6F00;
}

.input-item {
  --background: #000;
  --color: #FF6F00;
  --placeholder-color: #FF6F00;
}

.login-button {
  --background: #000;
  --color: #FF6F00;
  --border-color: #FF6F00;
  --border-radius: 20px;
  margin-top: 20px;
  --background-activated: #FF6F00;
  transition: background 0.2s ease-in-out;
}

a{
  text-decoration: none;
}

