/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.always.css';

  /* ALERTA-LOGIN */

  .alertaLogin {
    --background: #000; 
    width: 100%;
  }
  
  .alertaLogin .alert-wrapper{
    border: 1px solid #FF6F00;
    --border-radius: 15px; 
    --border-color: #FF6F00;
    padding: 15px;
    width: 100%;
  }

  .alertaLogin .alert-title {
    color: #FF6F00; 
    font-size: 20px; 
    font-weight: bold; 
  }
  
  .alertaLogin .alert-message {
    color: #FF6F00; 
    font-size: 16px; 
  }
  
  .alertaLogin .alert-button {
    background: #FF6F00; 
    color: black; 
    border-radius: 20px; 
    margin-top: 10px; 
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  
  .alertaLogin .alert-button:hover {
    background: #000; 
    color: #FF6F00; 
  }

  .alertReest {
    --background: #000; 
  }

  .alertaReest .alert-title {
    color: #FF6F00; 
    font-size: 20px; 
    font-weight: bold; 
  }
  
  .alertaReest .alert-message {
    color: #FF6F00; 
    font-size: 16px; 
  }
  
  .alertaReest .alert-button {
    background: #FF6F00; 
    color: #000; 
    border-radius: 20px; 
    margin-top: 10px;
    margin: auto; 
  }
  
  .alertaReest .alert-button:hover {
    background: #000; 
    color: #FF6F00; 
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  ion-content {
    --background: #000000;
    color: #FF6F00;
  }
  
  ion-card {
    background-color: #1a1a1a;
    color: #FF6F00;
  }
  
  ion-card-title,
  ion-label{
    color: #FF6F00;
  }
  
  ion-toolbar {
    background-color: #1a1a1a;
    color: #FF6F00;
  }
  
  h1 {
    color: #FF6F00;
  }
  
  .buttonLimpiar, .buttonMostrar {
    --background: #FF6F00;
    --color: #000000;
    --border-radius: 8px;
    --padding: 10px 20px;
    margin-top: 15px;
  }
  
  .buttonLimpiar:hover, .buttonMostrar:hover {
    --background: #ef802b;
  }
  
  .header-custom {
    background-color: #000000;
  }
  
  .toolbar-custom ion-title {
    color: #FF6F00;
    background-color: #000000;
  }
  
  .content-custom {
    background-color: #000;
    color: #FF6F00;
  }
  
  .welcome-text {
    color: #FF6F00;
  }
  
  .card-custom {
    background-color: #000;
    color: #FF6F00;
    border: 1px solid #FF6F00;
  }
  
  .card-custom ion-card-title {
    color: #FF6F00;
  }
  
  .input-item {
    --background: #000;
    --color: #FF6F00;
    --placeholder-color: #FF6F00;
  }
  
  .login-button, .reest-button {
    --background: #000;
    --color: #FF6F00;
    --border-color: #FF6F00;
    --border-radius: 20px;
    margin-top: 20px;
    --background-activated: #FF6F00;
    
  }
  
  .login-button:hover, .reest-button:hover {
    --background: #FF6F00;
    --color: #000;
  }

  a{
    color: #FF6F00;
  }

ion-label{
  color:#FF6F00;
  cursor: pointer;
}

ion-header {
  background-color: #FF6F00;
}

ion-toolbar ion-title {
  color:#FF6F00;
}

ion-content {
  background-color: black;
}

ion-list ion-item {
  color:#FF6F00;
}

ion-item ion-icon {
  color: #FF6F00;
}

ion-img {
  width: 70px;
  height: 70px;
  margin-left: 7rem;
}

ion-button {
  --color: black;
  --background: #FF6F00;
}

ion-button:hover {
  opacity: 0.8;
}
