<ion-menu side="start" menuId="first" contentId="main-content" class="menu-button-home">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end" >
        <ion-button  (click)="closeMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/entrenamientos" routerDirection="root">
        <ion-icon slot="start" name="barbell-outline"></ion-icon>
        <ion-label>Entrenamientos</ion-label>
      </ion-item>
      <ion-item routerLink="/entrenadores" routerDirection="root">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Entrenadores</ion-label>
      </ion-item>
      <ion-item routerLink="/logout" routerDirection="root">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="mi-perfil" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="mi-perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mis-entrenamientos">
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mis-entrenadores">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-router-outlet></ion-router-outlet>
</ion-content>
