<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>GYM POGGERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">
    Bienvenido!
  </h1>
<p>Usuario</p>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información Adicional</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-input label="Nombre"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input label="Apellido"></ion-input>
        </ion-item>

        <ion-datetime presentation="date"></ion-datetime>
      
        <ion-item>
          <ion-input label="Disabled input" value="53703" [disabled]="true"></ion-input>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
